/* background and positioning */
/*.hwt-container {*/
    /*background-color: #fff;*/
/*}*/

/* size and formatting */
.hwt-content {
    width: 500px;
    height: 100px;
    padding: 20px;
    color: #555;
    /*font: 18px/25px 'Roboto Mono', sans-serif;*/
}

/* highlights */
/*.hwt-content mark {*/
    /*border-radius: 3px;*/
/*}*/
/*.hwt-content mark:nth-of-type(2n) {*/
    /*background-color: #cfdeab;*/
/*}*/
/*.hwt-content mark:nth-of-type(2n+1) {*/
    /*background-color: #b1d5e5;*/
/*}*/