Flask==1.1.2
flask-cors==3.0.8
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm
# pdfminer==20140328
pdfminer==20191125
uWSGI==2.0.18
nltk==3.5
textblob==0.15.3
chardet==3.0.4
# language-check>=1.1