<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>CHANGELOG</title></head>
<body><h2>v1.0.0, 2019-08-20</h2>
<h3>⚠️ Зауваження</h3>
<ul>
<li>При оновленні <code>KEn</code> з версії <code>v0.7.1</code> (або більш ранньої) до <code>v.1.0.0</code> дані проаналізованих раніше документів будуть втрачені.</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li><p>Збільшено розмір <code>nginx client_max_body_size</code> до <code>500 mb</code> (що дозволяє проводити обробку файлів розміром до 500 мб).</p>
</li>
<li><p>Оновлено функції та процедури роботи клієнтської частини програми з використанням <a href='https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API'>IndexedDB API</a> та програмної бібліотеки <a href='https://localforage.github.io/localForage/'>localForage</a>, що відповідають за збереження та ініціалізацію результатів лінгвістичного аналізу документів та основного файлу проекту:</p>
<ul>
<li>додавання розбору (РІС, allterms, parce) кожного нового документу до головного <code>JSON</code>-файл проекту;</li>
<li>збереження проекту в локальний <code>JSON</code>-файл, що міститеме розбори всіх документів (РІС, allterms, parce) та налаштування;</li>
<li>відкриття проекту з локального <code>JSON</code>-файлу.</li>

</ul>
</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li><p>Виправлено роботу елемента <code>#termTree</code>, а саме додано функцію &quot;візуалізації залежностей термінів&quot; з елементу <code>#termTree</code> в елементі <code>#depparse_tab</code>, а саме в <code>#displacy</code>.</p>
</li>
<li><p>Виправлено помилку <code>DOMException QuotaExceededError</code> / <code>QUOTA_EXCEEDED_ERR: DOM Exception 22</code> (Перевищено розмір квоти для <strong>localStorage</strong>, що становить 5 Мб. Тобто є <strong>ліміт</strong> на кількість файлів, що можуть бути збережені в проекті). Збереження файлів проекту відтепер здійснюється з використанням <a href='https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API'>IndexedDB API</a> та програмної бібліотеки <a href='https://localforage.github.io/localForage/'>localForage</a>. <em>Довідка</em>:</p>
<ul>
<li>про розмір квот для <strong>localStorage</strong> та скрипт <strong>localStorageDB</strong> (використовує IndexedDB як key-value сховище, квота може перевищувати 5Мб) - <a href='https://stackoverflow.com/questions/5663166/is-there-a-way-to-increase-the-size-of-localstorage-in-google-chrome-to-avoid-qu'>localStorageDB скрипт</a>;</li>
<li>максимальна квота для <strong>IndexedDB</strong> - <a href='https://stackoverflow.com/questions/5692820/maximum-item-size-in-indexeddb'>Maximum item size in IndexedDB</a>;</li>
<li>поліпшене керування сховищем в браузері: бібліотека <a href='https://github.com/localForage/localForage'>localForage</a>;</li>

</ul>
</li>

</ul>
<h3>⚠️ Застаріле</h3>
<ul>
<li>Функції та процедури роботи клієнтської частини програми на основі <code>localStorage</code> (що відповідають за збереження та ініціалізацію результатів лінгвістичного аналізу файлів проекту), окрім таблиці.</li>

</ul>
<h2>v0.7.1, 2019-08-14</h2>
<h3>👍 Покращення</h3>
<ul>
<li>Додано функцію &quot;копіювання по кліку&quot; термінів з елементу <code>#termTree</code> (дерево термінів) в елемент <code>#table-body</code> (таблиця).</li>
<li>Оновлено меню &quot;Допомога&quot; (елемент <code>#button-dropdown-help</code>): додано &quot;Журнал змін&quot; (елемент <code>#button-changelog</code>) - Журнал змін проекту <code>CHANGELOG.md</code>.</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено імена, що надаються за замовчуванням при збереженні в файл списків &quot;Терміни&quot; (<code>#uploadResultList</code>), РІС (<code>#uploadUnknownTerms</code>).</li>

</ul>
<h2>v0.7.0, 2019-08-10</h2>
<h3>⚠️ Зауваження</h3>
<ul>
<li>При оновленні <code>KEn</code> з версії <code>v0.6.0</code> до <code>v.0.7.0</code> дані проаналізованих раніше файлів будуть втрачені або працюватимуть некоректно.</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li>Оновлено функції та процедури роботи з <code>localStorage</code>, що відповідають за збереження та ініціалізацію результатів лінгвістичного аналізу файлів проекту.</li>
<li>Вимкнено запис логів при доступі до файлів, що знаходяться в папці <code>static</code>.</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li><p>Виправлено оновлення деяких елементів при перемиканні/вибору файлів в елементі <code>#projectFileList</code> (&quot;Файли&quot;). Оновлються елементи:</p>
<ul>
<li><code>#displacy-ner</code> (&quot;Візуалізація&quot;)</li>
<li><code>#uploadUnknownTerms</code> (&quot;РІС&quot;)
відповідно до обраного файлу в елементі <code>#projectFileList</code> (&quot;Файли&quot;).</li>

</ul>
</li>
<li><p>Виправлено очищення відповідних розборів документів (<code>-parsexml</code>, <code>-alltermsxml</code> та <code>json</code>-розборів), що зберігаються в localStorage при видаленні файлів проекту зі списку Файли <code>#projectFileList</code>.</p>
</li>
<li><p>Дрібні виправлення <code>JavaScript</code> на клієнті (зокрема, елементів контейнеру <code>class=&quot;col-md-6&quot;</code>).</p>
</li>

</ul>
<h2>v0.6.0, 2019-08-07</h2>
<h3>🏭 Нові можливості</h3>
<ul>
<li><p>Реалізовано можливість локального збереження файлів разбору <code>allterms.xml</code> та <code>parce.xml</code> через графічний інтерфейс користувача, зокрема, через взаємодію з елементом <code>#button-save</code> відповідно:</p>
<ul>
<li><code>#button-save-allterms-xml</code> для збереження <code>allterms.xml</code>;</li>
<li><code>#button-save-parce-xml</code> для збереження <code>parce.xml</code>.</li>

</ul>
</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Дрібні виправлення <code>JavaScript</code> на клієнті.</li>

</ul>
<h2>v0.5.5, 2019-08-03</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено <code>id</code> елементу <code>#text-content-panel-body</code>.</li>

</ul>
<h2>v0.5.4, 2019-07-30</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено поведінку елементу <code>#notes</code> (відключено можливість змінення розміру).</li>

</ul>
<h2>v0.5.3, 2019-07-28</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li><p>Виправлено випадкове виконання функцій <code>events</code> при взаємодії з елементами:</p>
<ul>
<li><code>#uploadResultList</code></li>
<li><code>#projectFileList</code></li>
<li><code>#uploadUnknownTerms</code></li>

</ul>
</li>

</ul>
<h2>v0.5.2, 2019-07-27</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено помилку роботи з файлами, що мають однакові імена але різний зміст (Реалізовано генерування унікальних імен файлів для <code>localStorage</code>).</li>
<li>Дрібні виправлення <code>JavaScript</code> на клієнті.</li>

</ul>
<h2>v0.5.1, 2019-07-25</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено дерево термінів:
Реалізовано активне дерево термінів, тобто - перехід до вибраного терміну в дереві термінів (відповідне відображення речень з терміном в елементі <code>#term-tree</code> та виділення речень з терміном в <code>sents_from_text</code>).</li>
<li>Дрібні виправлення інтерфейсу.</li>
<li>Видалено невикористовувані <code>JavaScript</code>-бібліотеки.</li>

</ul>
<h2>v0.5.0, 2019-07-25</h2>
<h3>🏭 Нові можливості</h3>
<ul>
<li>Реалізовано підсвічування речень з вибраним терміном в елементі <code>#sents_from_text</code> та вибраних термінів в <code>#text-content</code> з використанням бібліотеки <a href='https://markjs.io/'>mark.js</a></li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Дрібні виправлення інтерфейсу.</li>
<li>Дрібні виправлення серверної частини: 
змінено роботу нормалізації тексту (відключено <code>line = re.sub(r&#39;\W&#39;, &#39; &#39;, line, flags=re.I)</code>).</li>

</ul>
<h2>v0.4.2, 2019-07-23</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено номер версії в елементі <code>title</code>.</li>

</ul>
<h2>v0.4.1, 2019-07-23</h2>
<h3>👍 Покращення</h3>
<ul>
<li>Додано номер поточної версії KEn до елементу <code>title</code>.</li>

</ul>
<h2>v0.4.0, 2019-07-23</h2>
<h3>🏭 Нові можливості</h3>
<ul>
<li><p>Реалізовано відображення показників частоти термінів за допомоги спливаючої підказки <code>title</code> для кожного терміну елементу <code>#uploadResultList</code>.
Реалізовано можливість сортування термінів в елементі <code>#uploadResultList</code> згідно:</p>
<ul>
<li>частоти (за збільшенням);</li>
<li>частоти (за зменшенням);</li>
<li>за алфавітом;</li>
<li>за черговою появою в тексті;</li>

</ul>
</li>
<li><p>Реалізовано елемент <code>#sort-select</code> для обрання відповідного типу сортування.</p>
</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li>Рефакторинг програмного коду.</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Дрібні виправлення.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Оновлено розділи <code>Системні вимоги</code> згідно нових мінімальних системних вимог, україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.3.0, 2019-07-22</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено помилку <code>UnicodeDecodeError: &#39;utf8&#39; codec can&#39;t decode byte</code>.
Декодовано файл як <code>UTF-8</code>, ігноруючи будь-які символи які закодовані в неправильному кодуванні</li>

</ul>
<pre><code class='language-python' lang='python'># decode the file as UTF-8 ignoring any errors
raw_text = file.read().decode(&#39;utf-8&#39;, errors=&#39;replace&#39;)
</code></pre>
<ul>
<li>Включено збереження макета документа, включаючи пробіли, які є лише візуальними, а не символами.
Виправлено згідно: <a href='https://stackoverflow.com/questions/49457443/python-pdfminer-converts-pdf-file-into-one-chunk-of-string-with-no-spaces-betwee'>python pdfminer converts pdf file into one chunk of string with no spaces between words</a></li>

</ul>
<pre><code class='language-python' lang='python'># save document layout including spaces that are only visual not a character
&quot;&quot;&quot;
some pdfs mark the entire text as figure and by default PDFMiner doesn&#39;t try to perform layout analysis for figure text.
To override this behavior the all_texts parameter needs to be set to True
in function def get_text_from_pdf_pdfminer(pdf_path)
&quot;&quot;&quot;
laparams = LAParams()
setattr(laparams, &#39;all_texts&#39;, True)
</code></pre>
<ul>
<li>Виправлено роботу елементу <code>iziToast</code> (нотифікації про процес обробки документів).</li>

</ul>
<h2>v0.2.8, 2019-07-20</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Реалізовано видалення символу <code>°</code> на етапі нормалізації тексту.</li>
<li>Реалізовано видалення всіх не словникових символів (<code>\W</code> non-alphanumeric characters) на етапі нормалізації тексту.</li>
<li>Реалізовано видалення всіх слів, що містять числа при нормалізації тексту.</li>

</ul>
<h2>v0.2.7, 2019-07-19</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Вимкнено появу стандартного контекстного меню на елементі <code>#projectFileList</code> при евенті видалення файлів проекту за кліком правої кнопки миші.</li>
<li>Збільшено максимально допустимий розмір тіла запиту клієнта до <strong>50 мегабайт</strong>: <code>client_max_body_size 50M</code>.</li>

</ul>
<p>📚 Документація</p>
<ul>
<li>Додано файл <code>CHANGELOG.md</code>, що містить список версій програми та список відповідних змін програмного коду, виправлень та покращень.</li>

</ul>
<h2>v0.2.6, 2019-07-18</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено скролінг в елементах класу <code>.col-md-6</code>.</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li>Додано вкладку &quot;Блокнот&quot; з елементом textarea до <code>.col-md-6</code>.</li>

</ul>
<h2>v0.2.5, 2019-07-18</h2>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Дрібні виправлення.</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li>Видалено тег версій з кінцевих точок API:
було:
<code>host[:port]/ken/api/**v1.0**/en/file/allterms</code>
стало:
<code>host[:port]/ken/api/en/file/allterms</code>.</li>
<li>Додано горизонтальный скролл до елементів <code>id=&quot;uploadResultList&quot;</code>; <code>#term-tree</code>.</li>
<li>Додано можливість видалення файлів зі списку &quot;Файли&quot; <code>id=&quot;projectFileList&quot;</code> по кліку правої кнопки миші.</li>
<li>Оновлено структуру проекту.</li>
<li>Рефакторинг програмного коду.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Додана настанова користувача Як зберегти Docker image в файл (резервне копіювання) для подальшого використання на іншому сервері.</li>
<li>Виправлено <strong>виділення</strong> термінів на <strong>виокремлення</strong> термінів.</li>
<li>Оновлення україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.2.4, 2019-07-08</h2>
<h3>🔴 Bug fixes</h3>
<ul>
<li>Fix sentence duplication in <code>id=&quot;text-content&quot;</code>.</li>
<li>Fix <code>id=&quot;sents_from_text&quot;</code> area to update for a new text.</li>
<li>Fix add text from last file to <code>id=&quot;sents_from_text&quot;</code> area.</li>
<li>Fix add text to <code>id=&quot;sents_from_text&quot;</code> area when selecting files from <code>id=&quot;projectFileList&quot;</code> select list.</li>

</ul>
<h3>👍 Improvements</h3>
<ul>
<li>Update project structure.</li>
<li>Clean up source code.</li>

</ul>
<h3>📚 Tutorial and doc improvements</h3>
<ul>
<li>Update UA part of <code>README.md</code>.</li>

</ul>
<hr />
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Виправлено дублювання речення в елементі <code>id =&quot; text-content &quot;</code>.</li>
<li>Виправлено оновлення елементу <code>id=&quot;sents_from_text&quot;</code> згідно нового тексту.</li>
<li>Виправлено додавання тексту з останнього опрацьованого файлу в область `id =&quot; sents_from_text &quot;.</li>
<li>Виправлено додавання тексту в елемент <code>id=&quot;sents_from_text&quot;</code> при виборі відповідного файлу зі списку елементу <code>id=&quot;projectFileList&quot;</code>.</li>
<li>Дрібні виправлення.</li>

</ul>
<h3>👍 Покращення</h3>
<ul>
<li>Оновлено структуру проекту.</li>
<li>Рефакторинг програмного коду.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Оновлення україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.2.3, 2019-06-25</h2>
<h3>👍 Improvements</h3>
<ul>
<li>Remove (comment) dependencies for language_check.</li>
<li>Clean up source code.</li>

</ul>
<h3>📚 Tutorial and doc improvements</h3>
<ul>
<li>Update UA part of README.md.</li>

</ul>
<hr />
<h3>👍 Покращення</h3>
<ul>
<li>Видалено залежності для <code>language_check</code>.</li>
<li>Рефакторинг програмного коду.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Оновлення україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.2.2, 2019-06-23</h2>
<h3>👍 Improvements</h3>
<ul>
<li>Fix Highlighting terms in text area <code>id=&quot;text-content&quot;</code>.</li>
<li>Fix <code>loader</code> colour.</li>

</ul>
<hr />
<h3>👍 Покращення</h3>
<ul>
<li>Виправлено підсвічування виокремлених термінів у <code>id=&quot;text-content&quot;</code>.</li>
<li>Змінено колір елементу <code>loader</code>.</li>

</ul>
<h2>v0.2.1, 2019-06-23</h2>
<h3>👍 Improvements</h3>
<ul>
<li>Add save to <code>csv</code>.</li>
<li>Add save of all lists (terms, NER, files).</li>
<li>Add new notifications.</li>
<li>Fix titles.</li>

</ul>
<h3>🔴 Bug fixes</h3>
<ul>
<li>Various bug fixes.</li>

</ul>
<h3>📚 Tutorial and doc improvements</h3>
<ul>
<li>Update UA part of <code>README.md</code>.</li>

</ul>
<hr />
<h3>👍 Покращення</h3>
<ul>
<li>Додано збереження в формат <code>csv</code>.</li>
<li>Додано можливість збереження списків (terms, NER, files).</li>
<li>Додні нотифікації про виконання процесів.</li>
<li>Виправлені елементи title.</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Дрібні виправлення.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Оновлення україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.2.0, 2019-06-21</h2>
<h3>👍 Improvements</h3>
<ul>
<li>All new table.</li>
<li>All new table controls.</li>
<li>Added saving table in Excel <code>.xls</code> format.</li>

</ul>
<h3>⚠️ Deprecations</h3>
<ul>
<li>Removed saving in <code>.csv</code>.</li>

</ul>
<h3>🔴 Bug fixes</h3>
<ul>
<li>Various bug fixes.</li>

</ul>
<h3>📚 Tutorial and doc improvements</h3>
<ul>
<li>Update UA part of <code>README.md</code>.</li>

</ul>
<hr />
<h3>👍 Покращення</h3>
<ul>
<li>Нова таблиця.</li>
<li>Нові елементи управління таблицею.</li>
<li>Додана можливість збереження таблиці в формат Excel <code>.xls</code>.</li>

</ul>
<h3>⚠️ Застаріле</h3>
<ul>
<li>Видалено збереження в формат <code>.csv</code>.</li>

</ul>
<h3>🔴 Виправлення помилок</h3>
<ul>
<li>Різні дрібні виправлення.</li>

</ul>
<h3>📚 Документація</h3>
<ul>
<li>Оновлення україномовної частини <code>README.md</code>.</li>

</ul>
<h2>v0.1.1, 2019-06-02</h2>
<h3>🌟 Початковий попередній реліз</h3>
<hr />
<h3>🌟 Initial pre-release</h3>
</body>
</html>