<!DOCTYPE html>
<html>

<head>
  <title>Konspekt - v2.0.0-beta</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="./static/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/flatly.bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/gr.css" media="screen" />
</head>
<!-- ---------------------------------------------------------------------------------------------------- -->

<body>
  <div class="canvas-interactive-wrapper">
    <canvas id="canvas-interactive"></canvas>
    <div class="cta-wrapper">
      <h2 style="color: black;">КОНСПЕКТ</h2>
      <h5>v2.0.0 beta 72</h5>
      <h3 style="color: black;">Контекстно-семантичний аналіз природно-мовного тексту та побудова таксономії документів</h3>
      <a href="/ua" id="violet-state-cta">Українська</a>
      <a href="/en" id="orange-state-cta">English</a>
    </div>
  </div>
  <footer class="footer">
    <p class="text-center">VM Glushkov Institute of Cybernetics of NAS of Ukraine &copy; Copyright 2020</p>
  </footer>
</body>
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="./static/javascripts/granim.min.js"></script>
<script src="./static/javascripts/gr.js"></script>
<script src="./static/javascripts/jquery-3.4.1.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>

</html>