<!DOCTYPE html>
<html>

<head>
  <title>KEn - v2.0.0-beta</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="./static/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/flatly.bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/ken-table.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/iziToast.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/tippy.css" media="screen" />
</head>
<!-- ---------------------------------------------------------------------------------------------------- -->

<body>
  <div class="container_adapter_for_one_page_view">
    <section class="col-md-3">
      <div class="recap_label">
        <label>Sentences with selected term</label>
      </div>
      <!-- <textarea id="text-content" readonly="true"></textarea> -->
      <div class="panel panel-default" id="text-content-panel">
        <div class="panel-body context" id="text-content-panel-body">
          <p id="text-content"></p>
        </div>
      </div>
      <div class="recap_label">
        <label>Term tree</label>
      </div>
      <section id="term-tree"></section>
    </section>
    <section class="col-md-3">
      <label class="text-center" id="overview-button">
        <div><i class="material-icons">file_download</i>
          <p id="caption_overview_button">Open document</p>
        </div>
        <input id="recap-overview-button" type="file"
          accept="application/pdf,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      </label>
      <div class="text-center" id="upload-button">
        <p id="caption_upload_button">Extract terms</p>
        <input id="recap-upload-button" type="submit" value="Upload" />
      </div>
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#term_tab" data-toggle="data" title="Base noun phrases">Terms</a>
          </li>
          <li><a href="#new_term_tab" data-toggle="data" title="Named Entity Recognition">NER</a></li>
          <li><a href="#fileList" data-toggle="data" title="Project files">Documents</a></li>
        </ul>
      </div>
      <div class="tab-content" id="select-block">
        <div class="tab-pane active fade in" id="term_tab">
          <div id="term-tab-container">
            <select id="sort-select" title="Terms sorting">
              <option value="0">-- Select sort --</option>
              <option value="1">alphabetically</option>
              <option value="2">ascending frequency sort</option>
              <option value="3">descending frequency sort</option>
              <option value="4">by order of appearance</option>
            </select>
            <select id="uploadResultList" name="uploadResultList"></select>
          </div>
        </div>
        <div class="tab-pane fade" id="new_term_tab">
          <select id="uploadUnknownTerms" name="uploadUnknownTerms"></select>
        </div>
        <div class="tab-pane fade" id="fileList">
          <select id="projectFileList" name="projectFileList"></select>
        </div>
      </div>
    </section>
    <section class="col-md-6">
      <div id="table-block">
        <div class="table_button_block">
          <!-- Project dropdown -->
          <div class="dropdown" id="button-dropdown-project">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">developer_board</i>Project
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-new-project" title="Create a new project from scratch"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">create</i>New project</a></li>
              <li role="presentation" id="button-open-document"
                title="Open document (.pdf, .docx, .txt)"><a role="menuitem" tabindex="-1"><i
                    class="material-icons">cloud_upload</i>Open document</a></li>
              <li role="presentation" id="button-open-project" title="Open project from file"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">unarchive</i>Open project</a></li>
              <!-- <label for = "file-input-for-open-project"><div><i
                  class="material-icons">unarchive</i>Відкрити проект<input type="file" id="file-input-for-open-project" style="display:none" accept="text/plain"/></div></label> -->
              <li role="presentation" id="button-save-project" title="Save project to file"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">archive</i>Save project</a></li>
            </ul>
          </div>
          <!-- Project dropdown -->
          <!-- ---------------------------------------------------------------------------------------------------- -->
          <!-- Save dropdown -->
          <div class="dropdown" id="button-save">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">save</i>Save
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-save-table" title="Save spreadsheet as xlsx or csv"><a role="menuitem"
                  tabindex="-1" href="#">Spreadsheet</a></li>
              <li role="presentation" id="button-save-terms" title="Save terms list as txt (in utf-8)"><a
                  role="menuitem" tabindex="-1" href="#">Terms list</a></li>
              <li role="presentation" id="button-save-ner"
                title="Save NER list as txt (utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">NER list</a></li>
              <li role="presentation" id="button-save-project-file-list"
                title="Save documents list as txt (utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">Documents list</a></li>
              <li role="presentation" id="button-save-allterms-xml" title="Save allterms.xml"><a role="menuitem"
                  tabindex="-1" href="#">allterms.xml</a></li>
              <li role="presentation" id="button-save-parce-xml" title="Save parce.xml"><a role="menuitem"
                  tabindex="-1" href="#">parce.xml</a></li>
            </ul>
          </div>
          <!-- Save dropdown -->
          <!-- ---------------------------------------------------------------------------------------------------- -->
          <!-- Open dropdown -->
          <!-- <div class="dropdown" id="button-dropdown-open">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">cloud_upload</i>Відкрити
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-open-allterms" title="Відкрити локальний файл allterms.xml" class="disabled"><a role="menuitem"
                  tabindex="-1" href="#">allterms.xml</a></li>
              <li role="presentation" id="button-open-parce" title="Відкрити локальний файл parce.xml" class="disabled"><a role="menuitem"
                  tabindex="-1" href="#">parce.xml</a></li>
            </ul>
          </div> -->
          <!-- Open dropdown -->
          <!-- ---------------------------------------------------------------------------------------------------- -->
          <!-- Help dropdown -->
          <div class="dropdown" id="button-dropdown-help">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">help</i>Help
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-help" title="Usage guide"><a role="menuitem"
                  tabindex="-1" href="/help" target="_blank">Documentation</a></li>
              <li role="presentation" id="button-changelog" title="CHANGELOG.md"><a role="menuitem"
                  tabindex="-1" href="/changelog" target="_blank">Changelog</a></li>
            </ul>
          </div>
          <!-- Help dropdown -->
        </div>
        <div class="table_edit_elements">
          <button id="addColsToTable" type="button" title="Add a new column"><img
              src="./static/images/forTableColAdd.png" height="30" alt="" /></button>
          <button id="addRowsToTable" type="button" title="Add a new row"><img
              src="./static/images/forTableRowAdd.png" height="30" alt="" /></button>
          <button id="clear-table" type="button" title="Clear spreadsheet"><i class="material-icons">cached</i>
          </button>
        </div>
        <!-- <table id="term-table"></table> -->
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li><a href="#text_tab" data-toggle="data" title="Document text">Text</a></li>
            <li><a href="#depparse_tab" data-toggle="data"
                title="Visualize dependencies and entities">Visualizer</a></li>
            <li class="active"><a href="#table_new" data-toggle="data" title="Spreadsheet for CONFOR">Spreadsheet</a></li>
            <li><a href="#notebook_tab" data-toggle="data" title="Simple notes">Notes</a></li>
          </ul>
        </div>
        <div class="tab-content" id="table-content-block" style="display: flex; justify-content: flex-end;">
          <div class="tab-pane fade" id="text_tab">
            <div class="panel panel-default" id="sents-from-text-panel">
              <div class="panel-body context">
                <p id="sents_from_text">
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="depparse_tab">
            <div class="grid-container">
              <div id="displacy-label"></div>
              <div id="displacy-ner">
              </div>
              <div id="displacy">
                <!-- Visualizing the dependency parse -->
              </div>
            </div>
          </div>
          <div class="tab-pane active fade in" id="table_new">
            <!-- xls -->
            <table class="spreadsheet__table" id="table-main">
              <thead class="spreadsheet__table--headers" id="table-headers">
              </thead>
              <tbody class="spreadsheet__table--body" id="table-body">
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="notebook_tab">
            <textarea id="notes" name="notes" size="16"></textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="loader">
    <div class="outer"></div>
    <div class="middle"></div>
    <div class="inner"></div>
  </div>
</body>
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="./static/javascripts/jquery-3.4.1.min.js"></script>
<script src="./static/javascripts/bootstrap-treeview.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<!-- localforge 1.7.3 -->
<script src="./static/javascripts/localforage.min.js"></script>
<!-- lz-string: JavaScript compression, fast! -->
<script src="./static/javascripts/lz-string.min.js"></script>
<script src="./static/javascripts/tippy.min.js"></script>
<script src="./static/javascripts/jquery.mark.min.js"></script>
<script src="./static/javascripts/ken-recap.js"></script>
<script src="./static/javascripts/ken-table.js"></script>
<script src="./static/javascripts/displacy.js"></script>
<script src="./static/javascripts/iziToast.min.js"></script>

</html>