<!DOCTYPE html>
<html>

<head>
  <title>Конспект 2019</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="./static/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/flatly.bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/ken-table.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/iziToast.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/tippy.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/jquery.highlight-within-textarea.css"
    media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/textAreaHighlight.css" media="screen" />
</head>

<body>
  <div class="container_adapter_for_one_page_view">
    <section class="col-md-3">
      <div class="recap_label">
        <label>Речення з обраним терміном</label>
      </div>
      <textarea id="text-content" readonly="true"></textarea>
      <div class="recap_label">
        <label>Дерево термінів</label>
      </div>
      <section id="term-tree"></section>
    </section>
    <section class="col-md-3">
      <label class="text-center" id="overview-button">
        <div><i class="material-icons">file_download</i>
          <p id="caption_overview_button">Оберіть файл для аналізу</p>
        </div>
        <input id="recap-overview-button" type="file"
          accept="application/pdf,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      </label>
      <div class="text-center" id="upload-button">
        <p id="caption_upload_button">Виокремити терміни з тексту</p>
        <input id="recap-upload-button" type="submit" value="Завантажити" />
      </div>
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#term_tab" data-toggle="data" title="Виокремлені терміни з тексту">Терміни</a>
          </li>
          <li><a href="#new_term_tab" data-toggle="data" title="Розпізнавання іменованих сутностей">РІС</a></li>
          <li><a href="#fileList" data-toggle="data" title="Файли проекту">Файли</a></li>
        </ul>
      </div>
      <div class="tab-content" id="select-block">
        <div class="tab-pane active fade in" id="term_tab">
          <div id="term-tab-container">
              <select id="sort-select">
                  <option value="">-- Оберіть тип сортування --</option>
                  <option value="">за алфавітом</option>
                  <option value="">за частотою</option>
              </select>
            <select id="uploadResultList" name="uploadResultList"></select>
          </div>
        </div>
        <div class="tab-pane fade" id="new_term_tab">
          <select id="uploadUnknownTerms" name="uploadUnknownTerms"></select>
        </div>
        <div class="tab-pane fade" id="fileList">
          <select id="projectFileList" name="projectFileList"></select>
        </div>
      </div>
    </section>
    <section class="col-md-6">
      <div id="table-block">
        <div class="table_button_block">
          <button id="newProjectAndClearAll" type="button"><i class="material-icons">create_new_folder</i>
            <div>Новий проект</div>
          </button>
          <!-- Basic dropdown -->
          <div class="dropdown" id="button-save">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">save</i>Зберегти
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-save-table" title="Зберегти таблицю в xls або csv"><a role="menuitem"
                  tabindex="-1" href="#">Таблицю</a></li>
              <!-- <li role="presentation" class="divider"></li> -->
              <li role="presentation" id="button-save-terms" title="Зберегти терміни в файл (txt, utf-8)"><a
                  role="menuitem" tabindex="-1" href="#">Список Терміни</a></li>
              <li role="presentation" id="button-save-ner"
                title="Зберегти розпізнані іменовані сутності в файл (txt, utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">Список РІС</a></li>
              <li role="presentation" id="button-save-project-file-list"
                title="Зберегти список документів проекту в файл (txt, utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">Список Файли</a></li>
            </ul>
          </div>
          <!-- Basic dropdown -->
          <button id="help" type="button" onclick="window.open('/help','_blank');"><i class="material-icons">help</i>
            <div>Допомога</div>
          </button>
        </div>
        <div class="table_edit_elements">
          <button id="addColsToTable" type="button" title="Додати нову колонку в таблицю"><img
              src="./static/images/forTableColAdd.png" height="30" alt="" /></button>
          <button id="addRowsToTable" type="button" title="Додати новий рядок в таблицю"><img
              src="./static/images/forTableRowAdd.png" height="30" alt="" /></button>
          <button id="clear-table" type="button" title="Очистити таблицю"><i class="material-icons">cached</i>
          </button>
        </div>
        <!-- <table id="term-table"></table> -->
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li><a href="#text_tab" data-toggle="data" title="Текст робочого документа">Текст</a></li>
            <li><a href="#depparse_tab" data-toggle="data"
                title="Візуалізація залежностей для термінів та іменованих сутностей">Візуалізація</a></li>
            <li class="active"><a href="#table_new" data-toggle="data" title="Таблиця для CONFOR">Таблиця</a></li>
            <li><a href="#notebook_tab" data-toggle="data" title="блокнот для нотаток">Блокнот</a></li>
          </ul>
        </div>
        <div class="tab-content" id="table-content-block" style="display: flex; justify-content: flex-end;">
          <div class="tab-pane fade" id="text_tab">
            <textarea id="sents_from_text" name="sents_from_text" size="16"></textarea>
          </div>
          <div class="tab-pane fade" id="depparse_tab">
            <div id="displacy-label"></div>
            <div id="displacy-ner">
            </div>
            <div id="displacy">
              <!-- Visualizing the dependency parse -->
            </div>
          </div>
          <div class="tab-pane active fade in" id="table_new">
            <!-- xls -->
            <table class="spreadsheet__table" id="table-main">
              <thead class="spreadsheet__table--headers" id="table-headers">
              </thead>
              <tbody class="spreadsheet__table--body" id="table-body">
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="notebook_tab">
            <textarea id="notes" name="notes" size="16"></textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="loader">
    <div class="outer"></div>
    <div class="middle"></div>
    <div class="inner"></div>
  </div>
</body>

<script src="./static/javascripts/jquery-3.4.1.min.js"></script>
<script src="./static/javascripts/bootstrap-treeview.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<script src="./static/javascripts/tippy.min.js"></script>
<script src="./static/javascripts/jquery.highlight-within-textarea.js"></script>
<script src="./static/javascripts/ken-recap.js"></script>
<script src="./static/javascripts/ken-table.js"></script>
<script src="./static/javascripts/displacy.js"></script>
<script src="./static/javascripts/iziToast.min.js"></script>

</html>