<!DOCTYPE html>
<html>

<head>
    <title>Konspekt - v3.0.0b4</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="./static/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/flatly.bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css" media="screen" />
</head>
<!-- ---------------------------------------------------------------------------------------------------- -->

<body>
    <div class="container">
        <div class="title">
            <h1 style="color: black;">КОНСПЕКТ</h1>
            <h5>v3.0.0 beta 4</h5>
            <h2 style="color: black; width: 800px;">Контекстно-семантичний аналіз природно-мовних текстів та побудова
                таксономії документів</h2>
            <a href="/ua" id="violet-state-cta" class="hvr-grow-shadow">Українська</a>
        </div>
        <div class="title title_bottom">
            <h1 style="color: black;">KONSPEKT</h1>
            <h5>v3.0.0 beta 4</h5>
            <h2 style="color: black; width: 800px;">An NLP-powered Web service for contextual and semantic analysis with document taxonomy building feature</h2>
            <a href="/en" id="orange-state-cta" class="hvr-grow-shadow">English</a>
        </div>
    </div>
    <footer class="footer">
        <!-- <p class="text-center">Платформа Python 3.8 + Nginx + uWSGI + Flask + Wine</p> -->
        <p class="text-center">VM Glushkov Institute of Cybernetics of NAS of Ukraine &copy; Copyright 2020</p>
    </footer>
</body>
<!-- ---------------------------------------------------------------------------------------------------- -->
<!-- <script src="./static/javascripts/granim.min.js"></script> -->
<!-- <script src="./static/javascripts/gr.js"></script> -->
<script src="./static/javascripts/jquery-3.4.1.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>

</html>