<!DOCTYPE html>
<html>

<head>
  <title>Конспект - v3.3.2</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="./static/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/flatly.bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/style-ua.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/table-ua.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/iziToast.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/tippy.css" media="screen" />
</head>
<!-- ---------------------------------------------------------------------------------------------------- -->

<body>
  <div class="container_adapter_for_one_page_view">
    <section class="col-md-3">
      <div class="recap_label">
        <label>Речення з обраним терміном</label>
      </div>
      <div class="panel panel-default" id="text-content-panel">
        <div class="panel-body context" id="text-content-panel-body">
          <p id="text-content"></p>
        </div>
      </div>
      <div class="recap_label">
        <label>Дерево термінів</label>
      </div>
      <section id="term-tree"></section>
    </section>
    <section class="col-md-3">
      <label class="text-center" id="overview-button">
        <div><i class="material-icons">file_download</i>
          <p id="caption_overview_button">Оберіть файл для аналізу</p>
        </div>
        <input id="recap-overview-button" type="file"
          accept="application/pdf,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      </label>
      <div class="text-center" id="upload-button">
        <p id="caption_upload_button">Виокремити терміни з тексту</p>
        <input id="recap-upload-button" type="submit" value="Завантажити" />
      </div>
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#term_tab" data-toggle="data" title="Виокремлені терміни з тексту">Терміни</a>
          </li>
          <!-- <li><a href="#new_term_tab" data-toggle="data" title="Невизначені сутності">Невизначені</a></li> -->
          <li class="disabled"><a href="#" title="Невизначені сутності">Невизначені</a></li>
          <!-- <li><a href="#fileList" data-toggle="data" title="Файли проекту">Файли</a></li> -->
          <li class="disabled"><a href="#" title="Файли проекту">Файли</a></li>
        </ul>
      </div>
      <div class="tab-content" id="select-block">
        <div class="tab-pane active fade in" id="term_tab">
          <div id="term-tab-container">
            <select id="sort-select" title="Сортування виокремлених термінів з тексту">
              <option value="0">-- Оберіть тип сортування --</option>
              <option value="1">за алфавітом</option>
              <option value="2">за збільшенням частоти</option>
              <option value="3">за зменшенням частоти</option>
              <option value="4">за появою тексті</option>
            </select>
            <select id="uploadResultList" name="uploadResultList"></select>
          </div>
        </div>
        <div class="tab-pane fade" id="new_term_tab">
          <select id="uploadUnknownTerms" name="uploadUnknownTerms"></select>
        </div>
        <div class="tab-pane fade" id="fileList">
          <select id="projectFileList" name="projectFileList"></select>
        </div>
      </div>
    </section>
    <section class="col-md-6">
      <div id="table-block">
        <div class="table_button_block">
          <!-- Project dropdown -->
          <div class="dropdown" id="button-dropdown-project">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">developer_board</i>Проект
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-new-project" title="Розпочати новий проект"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">create</i>Новий проект</a></li>
              <li role="presentation" id="button-open-document"
                title="Відкрити документ (.pdf, .docx, .txt) для аналізу"><a role="menuitem" tabindex="-1"><i
                    class="material-icons">cloud_upload</i>Відкрити документ</a></li>
              <li role="presentation" id="button-open-xlsx-document"
                title="Відкрити таблицю (.xlsx документ) для аналізу"><a role="menuitem" tabindex="-1"><i
                    class="material-icons">cloud_upload</i>Відкрити таблицю</a></li>
              <!-- <li role="presentation" id="button-open-project" title="Відкрити проект з файлу"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">unarchive</i>Відкрити проект</a></li> -->
              <!-- <li role="presentation" id="button-save-project" title="Зберегти проект в файл"><a role="menuitem"
                  tabindex="-1"><i class="material-icons">archive</i>Зберегти проект</a></li> -->
            </ul>
          </div>
          <!-- Project dropdown -->
          <!-- ---------------------------------------------------------------------------------------------------- -->
          <!-- Save dropdown -->
          <div class="dropdown" id="button-save">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">save</i>Зберегти
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-save-table" title="Зберегти таблицю в xls або csv"><a role="menuitem"
                  tabindex="-1" href="#">Таблицю</a></li>
              <li role="presentation" id="button-save-terms" title="Зберегти терміни в файл (txt, utf-8)"><a
                  role="menuitem" tabindex="-1" href="#">Список Терміни</a></li>
              <!-- <li role="presentation" id="button-save-ner"
                title="Зберегти невизначені сутності в файл (txt, utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">Список Невизначені</a></li> -->
              <!-- <li role="presentation" id="button-save-project-file-list"
                title="Зберегти список документів проекту в файл (txt, utf-8)"><a role="menuitem" tabindex="-1"
                  href="#">Список Файли</a></li> -->
              <li role="presentation" id="button-save-allterms-xml" title="Зберегти allterms.xml"><a role="menuitem"
                  tabindex="-1" href="#">allterms.xml</a></li>
              <li role="presentation" id="button-save-parce-xml" title="Зберегти parce.xml"><a role="menuitem"
                  tabindex="-1" href="#">parce.xml</a></li>
            </ul>
          </div>
          <!-- Save dropdown -->
          <!-- ---------------------------------------------------------------------------------------------------- -->
          <!-- Help dropdown -->
          <div class="dropdown" id="button-dropdown-help">
            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"><i
                class="material-icons">help</i>Допомога
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation" id="button-help" title="Настанова щодо експлуатування"><a role="menuitem"
                  tabindex="-1" href="/help" target="_blank">Документація</a></li>
              <li role="presentation" id="button-changelog" title="Журнал змін проекту CHANGELOG.md"><a role="menuitem"
                  tabindex="-1" href="/changelog" target="_blank">Журнал змін</a></li>
            </ul>
          </div>
          <!-- Help dropdown -->
        </div>
        <div class="table_edit_elements">
          <button id="addColsToTable" type="button" title="Додати нову колонку в таблицю"><img
              src="./static/images/forTableColAdd.png" height="30" alt="" /></button>
          <button id="addRowsToTable" type="button" title="Додати новий рядок в таблицю"><img
              src="./static/images/forTableRowAdd.png" height="30" alt="" /></button>
          <button id="clear-table" type="button" title="Очистити таблицю"><i class="material-icons">cached</i>
          </button>
        </div>
        <!-- <table id="term-table"></table> -->
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li><a href="#text_tab" data-toggle="data" title="Текст робочого документа">Текст</a></li>
            <li class="active"><a href="#table_new" data-toggle="data" title="Таблиця для CONFOR">Таблиця</a></li>
            <li><a href="#notebook_tab" data-toggle="data" title="блокнот для нотаток">Блокнот</a></li>
            <li><a href="#merge_tab" data-toggle="data" title="Заповнення контекстів в онтологічному шаблоні (allterms.xml та structure.xml)">Контексти</a></li>
          </ul>
        </div>
        <div class="tab-content" id="table-content-block" style="display: flex; justify-content: flex-end;">
          <div class="tab-pane fade" id="text_tab">
            <div class="panel panel-default" id="sents-from-text-panel">
              <div class="panel-body context">
                <p id="sents_from_text">
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane active fade in" id="table_new">
            <!-- xls -->
            <table class="spreadsheet__table" id="table-main">
              <thead class="spreadsheet__table--headers" id="table-headers">
              </thead>
              <tbody class="spreadsheet__table--body" id="table-body">
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="notebook_tab">
            <textarea id="notes" name="notes" size="16"></textarea>
          </div>
          <div class="tab-pane fade" id="merge_tab">
            <div id="grid-container-merge-tab">
              <div class="grid-item">
                <label for="allterms-xml">Файл allterms:</label>
                <input type="file" id="allterms-xml" name="allterms-xml" accept=".xml">
              </div>
              <div class="grid-item">
                <button id="button-merge" title="Об'єднати"><i class="material-icons">merge_type</i></button>
              </div>
              <div class="grid-item">
                <label for="structure-xml">Файл structure:</label>
                <input type="file" id="structure-xml" name="structure-xml" accept=".xml">
              </div>
              <div class="grid-item">
                <button id="button-merge-download" title="Зберегти"><i class="material-icons">cloud_download</i></button>
              </div>
              <!-- <div class="grid-item">
                <label for="param-1">Контекст до:</label>
                <input type="number" id="param-1" name="tentacles" value="1" min="1" max="10">
              </div>
              <div class="grid-item">
                <label for="param-2">Контекст після:</label>
                <input type="number" id="param-2" name="tentacles" value="1" min="1" max="10">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="loader">
    <div class="outer"></div>
    <div class="middle"></div>
    <div class="inner"></div>
  </div>
</body>
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="./static/javascripts/jquery-3.4.1.min.js"></script>
<script src="./static/javascripts/bootstrap-treeview.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<!-- localforge 1.7.3 -->
<script src="./static/javascripts/localforage.min.js"></script>
<!-- lz-string: JavaScript compression, fast! -->
<script src="./static/javascripts/lz-string.min.js"></script>
<script src="./static/javascripts/jquery.mark.min.js"></script>
<script src="./static/javascripts/recap-ua.js"></script>
<script src="./static/javascripts/table-ua.js"></script>
<script src="./static/javascripts/iziToast.min.js"></script>
<script src="./static/javascripts/xlsx.full.min.js"></script>
<script src="./static/javascripts/FileSaver.min.js"></script>

</html>